/* Empty. Add your own CSS if you like */

.content-all {
	height: 100%;
	/*background-color: yellow;*/
	align-content: center;
}

.content-item {
	position: fixed;
	height: 100%;
	width: 100%;
}

.content-question {
	margin-top: 25%;
	margin-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.content-options>button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;

	border-radius: 20px;
	width: 60%;
}

.btn-add {
	display: block;
	margin-left: auto;
	margin-right: auto;

	padding: 0;

	border-radius: 15px;
	font-size: 40px;
	border: 0;
	background-color: rgba(0,0,0,0);
}

.bar-positive .button.btn-unsaved {
	color: red;
}

input.card-head-input {
	display: inline;
	height: 100%;
	padding: 0;
	background-color: rgba(0,0,0,0);
	width: 70%;
}
span.card-head-delete, span.card-head-image {
	font-size: 20px;
	padding: 0;
	padding-right: 20px;
	width: 10%;
}
input.card-option-input {
	background-color: rgba(0,0,0,0);
	width: 100%;
}

.item.item-icon-left.card-option-item {
	height: 40px;
	padding-top: 0;
	padding-bottom: 0;
}


.icon-btn-group {
	display: inline-block;
	float: right;
	font-size: 25px;
}

.correct-answer {
	color: red;
}