<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="ctrl.back()">Back</button>
  </div>
  <h1 class="title">{{ctrl.quesair.attributes.title}}</h1>
  <div class="buttons">
    <button class="button" ng-click="ctrl.save()">Save</button>
  </div>
</ion-header-bar>

<ion-content class="has-header">
  <div class="card list" ng-repeat="item in ctrl.questions track by $index">
    <div class="item item-divider">
      <span class="ion-close-circled card-head-delete" ng-click="ctrl.delete($index)"></span>
      <input type="text" class="card-head-input" placeholder="Please enter the question" ng-model="item.attributes.question">
    </div>
    <div class="item item-icon-left card-option-item" ng-repeat="item2 in item.attributes.options track by $index">
      <i class="icon ion-arrow-right-a" ng-class="{'correct-answer': $index==item.attributes.correct}" ng-click="ctrl.setCorrect(item, $index)"></i>
      <input type="text" class="card-option-input" placeholder="Enter Option" ng-model="item.attributes.options[$index]">
    </div>
    
  </div>
  <button class="button btn-add" ng-click="ctrl.add()">
    <span class="ion-plus-circled"></span>
  </button>

</ion-content>